 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I'm a freelance software engineer with over eight years experience, covering infrastructure, testing, and developer roles. My specialty is building out complex test infrastructure and CI/CD pipelines.</p>
                </div>
                <div class="col-lg-4">
                    <p>I currently live between Palo Alto (California) and Oxford (England). I love working on greenfield projects with smart and enthusiastic people! Contact me about freelance software projects :) </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download my CV here!
                    </a>
                </div>
            </div>
        </div>
    </section>
